body {
    align-content: center;
    margin: 100px 100px 100px 590px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    font-family:Impact;
    margin: 100px 100px 20px 40px;
}

.sidecontainer {
    background-image: url(silversurfer.jpg);
    position: fixed;
    width: 425px;
    height: px;
    right: -90px;
    top: 15px;
    bottom: 25px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px 100px 0px 1200px;
}
.sidecontainer2 {
background-image: url(cantbe.jpg);
position: fixed;
width: 400px;
height: px;
right: -90px;
top: 15px;
bottom: 25px;
border: 1px solid black;
padding: 10px;
margin: 20px 1200px 0px 100px;
}


